/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
}

li,
p {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
  font-weight: normal;
  margin: 1rem 0;
}

/*doc
---
title: H1
name: Heading 1
category: Typography
---

An h1 tag should look like this:

```html_example
	<h1>Heading 1</h1>
```
*/
h1 {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
  font-size: 3rem;
  margin: 1rem 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

/*doc
---
title: Link
name: Link
category: Typography
---

An link should look like this:

```html_example
	<a href="#">Link</a>
```


*/
a {
  color: #05e6ff;
}
a:hover {
  color: #05cfe6;
}

/*doc
---
title: Buttons
name: button
category: Components
---

```html_example_table
<button class="button">Button</button>

<a class="button" href="trulia.com">Link</a>
```

*/
.button {
  padding: 1rem 2rem;
  background: #ff0846;
  color: #fff;
  border-radius: 2px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
}
.button:hover {
  background: #e6073f;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/*doc
---
title: Basic Grid Example
name: 3 Column Grid
category: Grid
---


```html_example
<div class="grid">

  <div class="grid__cell">
    <p>This is column 1</p>
  </div>

  <div class="grid__cell">
    <p>This is column 2</p>
  </div>

  <div class="grid__cell">
    <p>This is column 3</p>
  </div>
</div>
```
*/
/*doc
---
title: Vertically Centered
name: Vertically Centered
category: Grid
---


```html_example
<div class="grid wrap grid--center">

  <div class="grid__cell">
    <p>This is column 1</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div class="grid__cell">
    <p>This is column 2</p>
    <p>Donec ut enim ut vitae ac justo.</p>
  </div>

  <div class="grid__cell">
    <p>This is column 3</p>
    <p>Aliquam erat volutpat.</p>
  </div>
</div>
```
*/
/*doc
---
title: Two Column - Reordered
name: Two Column - Reordered
category: Grid
---


```html_example
<div class="grid wrap">

  <div class="grid__cell quarter">
    <p>This is column 1</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div class="grid__cell">
    <p>This is column 2</p>
    <p>Maecenas semper metus in fringilla imperdiet. Donec ut tellus et ligula imperdiet cursus. Morbi imperdiet a justo eget mattis. Nulla quis tristique quam, et laoreet magna. Nullam interdum rhoncus velit, quis lobortis velit pharetra ac. Vivamus tempor, lectus et dapibus egestas, odio mauris facilisis mi, in fringilla odio odio id elit. Integer pharetra, dolor id dapibus maximus, felis neque tempor libero, at molestie sapien ex ut lacus. Nulla ex massa, sodales nec sapien ut, malesuada interdum nisl. Cras diam eros, sagittis non tempor vel, tempus non diam. Nunc interdum est arcu, vel tincidunt mauris rhoncus vitae. Etiam eget tortor a ex consectetur vulputate eu nec mi. Integer volutpat nec turpis ut interdum. Sed ac aliquam leo. In vehicula tortor nisl, sit amet ultrices nisi dapibus ut.</p>
  </div>

</div>
```
*/
.grid {
  margin: 0 -1rem;
}
@media (min-width: 800px) {
  .grid {
    display: flex;
  }
}
.grid--small-grid {
  display: flex;
}
.grid.wrap {
  flex-wrap: wrap;
}
.grid__cell {
  flex: 1;
  margin: .5rem;
  padding: .5rem;
}
.grid--flexCells > .grid__cell {
  display: flex;
}
.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}
.grid--justify-center {
  justify-content: center;
}
.grid-cell--top {
  align-self: flex-start;
}
.grid-cell--bottom {
  align-self: flex-end;
}
.grid-cell--center {
  align-self: center;
}
.grid-cell--autoSize {
  flex: none;
}

@media (min-width: 800px) {
  .bordered {
    border-left: 1px solid #bfbfbf;
  }
  .bordered:first-child {
    border: 0;
  }
}

.demo {
  background: #3f3f3f;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

body {
  padding: 0 1rem;
}

.sidebar {
  order: 0;
  background: #f3f3f3;
}

.main-content {
  order: 1;
}

.exampleOutput .grid__cell {
  text-align: center;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
}
.exampleOutput .quarter {
  flex: 0 1 25%;
  order: 2;
}



/*# sourceMappingURL=styles.css.map */
