@import "abstracts/_index.scss";
@import "base/_index.scss";
@import "components/_index.scss";
@import "layout/_index.scss";
@import "pages/_index.scss";
@import "vendors/_index.scss";

// The styles below are temporary.
.demo{
  background: $dark-gray;
  color: $white;
  padding: 1rem;
  text-align: center;
}

body{
  padding: 0 1rem
}

.sidebar{
  order: 0;
  background: rgb(243, 243, 243);
}

.main-content{
  order: 1;
}

.exampleOutput{
   .grid__cell{
    text-align: center;
    border-radius: 2px;
    background: rgba(0,0,0,.1);
  }

  .quarter{
    flex: 0 1 25%;
    order: 2;
  }
}
//
// .red{
//   background: $red;
//   color: $white;
// }
//
//
// .green{
//   background: $green;
// }
//
//
// .blue{
//   background: $blue;
// }
//
// .purple{
//   background: $purple;
//   color: $white;
// }
//
//
// .yellow{
//   background: $yellow;
// }
