/*doc
---
title: Basic Grid Example
name: 3 Column Grid
category: Grid
---


```html_example
<div class="grid">

  <div class="grid__cell">
    <p>This is column 1</p>
  </div>

  <div class="grid__cell">
    <p>This is column 2</p>
  </div>

  <div class="grid__cell">
    <p>This is column 3</p>
  </div>
</div>
```
*/


/*doc
---
title: Vertically Centered
name: Vertically Centered
category: Grid
---


```html_example
<div class="grid wrap grid--center">

  <div class="grid__cell">
    <p>This is column 1</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div class="grid__cell">
    <p>This is column 2</p>
    <p>Donec ut enim ut vitae ac justo.</p>
  </div>

  <div class="grid__cell">
    <p>This is column 3</p>
    <p>Aliquam erat volutpat.</p>
  </div>
</div>
```
*/

/*doc
---
title: Two Column - Reordered
name: Two Column - Reordered
category: Grid
---


```html_example
<div class="grid wrap">

  <div class="grid__cell quarter">
    <p>This is column 1</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div class="grid__cell">
    <p>This is column 2</p>
    <p>Maecenas semper metus in fringilla imperdiet. Donec ut tellus et ligula imperdiet cursus. Morbi imperdiet a justo eget mattis. Nulla quis tristique quam, et laoreet magna. Nullam interdum rhoncus velit, quis lobortis velit pharetra ac. Vivamus tempor, lectus et dapibus egestas, odio mauris facilisis mi, in fringilla odio odio id elit. Integer pharetra, dolor id dapibus maximus, felis neque tempor libero, at molestie sapien ex ut lacus. Nulla ex massa, sodales nec sapien ut, malesuada interdum nisl. Cras diam eros, sagittis non tempor vel, tempus non diam. Nunc interdum est arcu, vel tincidunt mauris rhoncus vitae. Etiam eget tortor a ex consectetur vulputate eu nec mi. Integer volutpat nec turpis ut interdum. Sed ac aliquam leo. In vehicula tortor nisl, sit amet ultrices nisi dapibus ut.</p>
  </div>

</div>
```
*/

.grid {
  margin: 0 -1rem;

  @include respond-to('medium') {
    display: flex;
  }

  &--small-grid {
    display: flex;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &__cell {
    flex: 1;
    margin: .5rem;
    padding: .5rem;
  }

  &--flexCells > .grid__cell {
    display: flex;
  }

  &--top {
    align-items: flex-start;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--center {
    align-items: center;
  }

  &--justify-center {
    justify-content: center;
  }

  &-cell--top {
    align-self: flex-start;
  }

  &-cell--bottom {
    align-self: flex-end;
  }

  &-cell--center {
    align-self: center;
  }

  &-cell--autoSize {
    flex: none;
  }
}

/* Flexbox sticky-footer
   Apply this to the body and your main content block. content and footer elements should be immediate children of body*/

// body {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
// }
//
// main {
//   flex: 1;
// }


.bordered {
  @include respond-to('medium') {
    border-left: 1px solid $light-gray;

    &:first-child {
      border: 0;
    }
  }
}
