//
// 	Typography

body {
	font-family: $body-font-family;
	font-size: $base-font-size;

	//Better font rendering for Firefox on OSX
	-moz-osx-font-smoothing: grayscale;
}

li,
p {
	font-family: $body-font-family;
	font-weight: $body-weight;
  margin: 1rem 0;
}

/*doc
---
title: H1
name: Heading 1
category: Typography
---

An h1 tag should look like this:

```html_example
	<h1>Heading 1</h1>
```
*/

h1 {
	font-family: $heading-font-family;
	font-size: 3rem;
  margin: 1rem 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: 2rem;
  font-weight: $heading-weight;
  margin: 1rem 0;
}

/*doc
---
title: Link
name: Link
category: Typography
---

An link should look like this:

```html_example
	<a href="#">Link</a>
```


*/

a {
  color: $body-link-color;

  &:hover {
    color: shade($body-link-color, 10);
	}
}
