//
// Variables
// Author:iBec Creative;
// Updated: 6/9/2016, by: Nate Blanchette

//Theme Colors
$red:         #ff0846;
$green:       #49ff8d;
$blue:        #05e6ff;
$purple:      #eb1ccd;
$yellow:      #ffd826;

//Project Colors
$primary:     #2e9edc;
$secondary:	  #135881;
$highlight:	  $blue;

//Utility Colors
$black:   	  #000;
$dark-grey:	  #3f3f3f;
$dark-gray:	  $dark-grey;
$grey:    	  #7f7f7f;
$gray:        $grey;
$light-grey:	#bfbfbf;
$light-gray:	$light-grey;
$white:				#fff;

//Copy Colors
$text-color:			   $dark-grey;
$light-text-color:	 $white;
$body-link-color:    $blue;

// Units
$spacing:     1rem;

// Typography
$primary-font-family: 		system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
$secondary-font-family: 	"Helvetica Neue", Helvetica, sans-serif;

$heading-font-family:		  $primary-font-family;
$heading-weight:				  bold;
$body-font-family:			  $primary-font-family;
$body-weight:				      normal;

$base-font-unitless:			18;
$base-font-size:				  $base-font-unitless + px;
$base-line-height:			  1.5;

$body-copy-size:				  1rem;

//Breakpoints
$breakpoints: (
  'small':  (min-width: 600px),
  'medium': (min-width: 800px),
  'large':  (min-width: 1000px),
  'huge':   (min-width: 1200px),
);
